<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuite name="Application Test Suite">
        <directory>application</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
        <directory>library</directory>
    </testsuite>

	<logging>
	  <log type="coverage-html" target="../build/results/coverage" title="php-demo"
	   charset="UTF-8" yui="true" highlight="true"
	   lowUpperBound="0" highLowerBound="0"/>
	  <log type="coverage-clover" target="../build/results/logs/clover.xml"/>
	  <log type="junit" target="../build/results/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
